{
  "deviceId": "phone",
  "username": "YOUR_MQTT_USER",
  "password": "YOUR_MQTT_PASSWORD",
  "clientId": "YOUR_UNIQUE_CLIENT_ID",
  "host": "YOUR_SERVER_IP",
  "port": 8883,
  "_type": "configuration",
  "tls": true,
  "allowinvalidcerts": true,
  "ws": false,
  "auth": true,
  "usePassword": true,
  "tid": "AB",
  "mqttProtocolLevel": 4,
  "keepalive": 60,
  "cleanSession": false,
  "pubTopicBase": "",
  "subTopic": "",
  "pubQos": 1,
  "subQos": 1,
  "pubRetain": true,
  "sub": true,
  "cmd": true,
  "allowRemoteLocation": true,
  "monitoring": 1,
  "locatorInterval": 60,
  "locatorDisplacement": 50,
  "positions": 50,
  "extendedData": true,
  "mode": 0,
  "ranging": false,
  "ignoreStaleLocations": 0,
  "ignoreInaccurateLocations": 0,
  "downgrade": 0,
  "adapt": 0,
  "days": -1,
  "maxHistory": 0,
  "locked": false,
  "encryptionKey": "",
  "passphrase": "",
  "clientpkcs": "",
  "osmTemplate": "",
  "osmCopyright": "",
  "waypoints": []
}
